@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  position: relative;
}

body::-webkit-scrollbar {
  width: 0.8em;
  height: 0.8em;
}

body::-webkit-scrollbar-track {
  background-color: #70d6ff70;
}

body::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #04abff;
}

.theme {
  height: 30rem;
  background-color: #67aa5a99;
}
.theme3 {
  height: 40rem;
  background-color: #9EC996;
}

.theme1 {
  height: 37rem;
  background-color: #2099249c;
}
.theme4 {
  height: 100%;
  background-color: #65ac59ce;
}
.theme5 {
  height: 100%;
  background-color: #65ac59e1;
}
.theme6 {
  height: 9rem;
  background-color: #67AA5A;
}
